{% extends 'base.html.twig' %}

{% block title %}CrowdLobbying{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero__inner">
            <div class="viewport-width">
                <div class="page-width">
                    <div class="layout-width">
                        <div class="hero__content"><h2>{% trans %}Crowd-Lobbying{% endtrans %}</h2>
                            <h1>{% trans %}Unsere aktuellen Kampagnen{% endtrans %}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
