includes:
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
    - tools/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    symfony:
        container_xml_path: var/cache/dev/srcApp_KernelDevDebugContainer.xml
