<section class="donorbox" id="donate">
    <div class="viewport-width">
        <div class="page-width">
            <div class="layout-width">
                <div class="richtext readable-width"><h1>{% trans %}Spenden{% endtrans %}</h1>
                    <p>{% trans %}Mit Ihrer Spende bringen wir diese Kampagne weiter.{% endtrans %}</p></div>
                <div class="donorbox__inner readable-width">
                    {% trans %}[[DONORBOX]]{% endtrans %}
                </div>
                <div class="richtext readable-width"><h2 class="no-space-top">{% trans %}Bankverbindung{% endtrans %}</h2>
                    <p>{% trans %}Verein PublicBeta<br>Crowd-Lobbying<br>4051 Basel<br>IBAN CH58 0900 0000 1509 7572 2<br>Post-Konto
                                                                                                                          15-97572-2{% endtrans %}</p></div>
            </div>
        </div>
    </div>
</section>
<section class="share">
    <div class="viewport-width vertical-space">
        <div class="page-width">
            <div class="layout-width">
                <div class="share__richtext richtext readable-width"><h1>{% trans %}Teilen{% endtrans %}</h1>
                    <p>{% trans %}Bitte helfen Sie mit und teilen Sie die Kampagne mit Ihren FreundInnen, Familien, Verwandten und
                            Bekannten.{% endtrans %}</p></div>
                <div class="share__social readable-width">
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="https://crowdlobbying.ch"
                         data-a2a-title="Crowd Lobbying"><a
                                class="a2a_button_facebook action-button social facebook"></a><a
                                class="a2a_button_twitter action-button social twitter"></a><a
                                class="a2a_button_whatsapp action-button social whatsapp"></a><a
                                class="a2a_button_email action-button social email"></a></div>
                </div>
                <div class="share__textbox textbox readable-width">
                    <div class="textbox__content">{% trans %}<p>Hallo</p>
                            <p>Ich habe gerade gegen die E-ID lobbyiert. Tönt kompliziert? Ist aber ganz einfach. Auf</p>
                            <p>https://www.digitaler-pass.ch/</p>
                            <p>kannst du einer Ständerätin oder einem Ständerat deiner Wahl ein Argument schicken, wieso du
                                gegen eine E-ID von von privaten Unternehmen bist.</p>
                            <p>Es würde mir sehr viel bedeuten, wenn Du dieses Projekt ebenfalls unterstützen würdest.</p>
                            <p>Vielen Dank und freundliche Grüsse</p>{% endtrans %}</div>
                    <button class="action-button outline textbox__button"
                            onclick="utils.copy('{% trans %}Hallo\n\nIch habe gerade gegen die E-ID lobbyiert. Tönt kompliziert? Ist aber ganz einfach. Auf \n\nhttps://www.digitaler-pass.ch/\n\nkannst du einer Ständerätin oder einem Ständerat deiner Wahl ein Argument schicken, wieso du gegen eine E-ID von von privaten Unternehmen bist.\n\nEs würde mir sehr viel bedeuten, wenn Du dieses Projekt ebenfalls unterstützen würdest.\n\nVielen Dank und freundliche Grüsse{% endtrans %}'); app.actionButton.showOverlay()"
                            data-overlay-state="ok" data-overlay-label="kopiert" data-overlay-autohide="true">
                        {% trans %}kopieren{% endtrans %}
                        <div class="action-button__overlay"></div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
